html,
body {
  height: 100%;
  width: 100%;
}

.button {
  svg {
    float: left;
    margin: 0 $space/4 0 (-$space/4);
  }
  &.primary {
    svg {
      fill: #FFF;
    }
  }
}

.editor {
  .header {
    background: #FFF;
    border-bottom: 1px solid $line-2;
    left: 0;
    margin: 0;
    padding: $space/3 $space;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 999;
    .meta {
      float: left;
      text-align: left;
      .file,
      .updated {
        color: $grey;
        @include font-size($small);
        line-height: 160%;
      }
      .file a {
        color: inherit;
      }
      .updated {
        &:after {
          content: ' ▾';
          opacity: 0.4;
        }
      }
      .options {
        max-height: 236px;
        overflow: auto;
        img {
          border-radius: $radius;
          float: left;
          height: 5*$space/6;
          margin-right: $space/4;
        }
      }
    }
    .button {
      margin-top: $space/12;
    }
  }
  .body {
    margin: 0 auto;
    max-width: 720px;
    padding-top: 46px;
    input,
    .select,
    select,
    textarea {
      width: 100%;
    }
    .field {
      input + input,
      textarea + textarea,
      .select + .select {
        margin-top: $space/3;
      }
      .button.add {
        margin-top: $space/3;
      }
    }
  }
}

.route-login {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  .login {
    background: #FFF;
    border: 1px solid $line;
    border-radius: $radius;
    left: 50%;
    padding: $space;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10*$space;
    h1 {
      border-bottom: 1px solid $line-2;
      @include font-size($larger);
      margin-bottom: 1.5*$space/2;
      padding-bottom: 1.5*$space/2;
    }
    .button {
      width: 100%;
    }
  }
}
