/**
 * General
 */

html,
body,
#app {
  height: 100%;
  width: 100%;
}

.button {
 svg {
   float: left;
   margin: 0 $space/4 0 (-$space/4);
 }
 &.primary {
   svg {
     fill: #FFF;
   }
 }
}

.thumbnail {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $radius;
  border: 1px solid $line;
  box-sizing: border-box;
}

.empty {
  background: $light;
  border-radius: $radius;
  color: $grey;
  @include font-size($smaller);
  line-height: 160%;
  padding: $space/2 1.5*$space/2;
  strong {
    display: block;
  }
}

.centered {
  text-align: center;
}

.icon {
  border: 1px solid transparent;
  display: inline-block;
  padding: $space/4;
  svg {
    display: inline-block;
    fill: $grey;
    height: $space;
    transition-property: fill;
    transition-duration: $ease;
    vertical-align: middle;
    width: $space;
  }
  &:hover {
    svg {
      fill: $black;
    }
  }
}

/**
 * User component
 */

#user {
  left: $space;
  position: fixed;
  bottom: $space/2;
  z-index: 1000;
  .dropdown {
    & > a {
      display: block;
      padding-top: $space/4;
      img {
        border-radius: 50%;
        opacity: 0.6;
        transition-property: opacity;
        transition-duration: $ease;
        width: 1.5*$space;
      }
    }
    &:hover {
      & > a img {
        opacity: 1;
      }
    }
  }
  .options {
    bottom: 100%;
    top: auto;
    a.logout:hover {
      color: $red;
    }
  }
}

/**
 * Editor component
 */

#editor {
  height: 100%;
  form > .header {
    background: #FFF;
    border-bottom: 1px solid $line-2;
    left: 0;
    margin: 0;
    padding: $space/3 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    .controls {
      float: right;
      .more {
        .icon {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .dropdown {
        display: inline-block;
        .options {
          max-height: 10*$space;
          overflow: auto;
          right: 0;
          img {
            border-radius: $radius;
            float: left;
            height: 5*$space/6;
            margin-right: $space/4;
            width: 5*$space/6;
          }
        }
      }
    }
    .meta {
      float: left;
      line-height: 120%;
      .type {
        background: $line-2;
        border-radius: $radius - 1;
        @include font-size($pico);
        padding: $space/12 $space/6;
        text-transform: uppercase;
      }
      .file-name {
        @include font-size($smaller);
      }
      a {
        color: $grey;
        &:hover {
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
  form > .body {
    margin: 0 auto;
    padding-top: 56 + $space;
    .field {
      .file-picker + .file-picker,
      input + input,
      textarea + textarea,
      .select + .select {
        margin-top: $space/3;
      }
      .button.add {
        margin-top: $space/3;
      }
    }
  }
}

/**
 * Login component
 */

.route-login {
  background: $light;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  .login {
    background: #FFF;
    border: 1px solid $line-2;
    border-radius: $radius;
    left: 50%;
    max-width: 10*$space;
    padding: $space;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    a.logo {
      background: #FFF;
      border: 1px solid $line-2;
      border-radius: 50%;
      box-sizing: border-box;
      display: block;
      height: 2.5*$space;
      margin: (-7*$space/3) auto $space/2;
      padding: $space/2;
      width: 2.5*$space;
      svg {
        display: block;
        height: 1.5*$space;
        width: 1.5*$space;
      }
    }
    p {
      color: $grey;
      @include font-size($smaller);
      line-height: 160%;
      margin-bottom: $space/2;
      text-align: left;
    }
    .button {
      width: 100%;
    }
  }
}

.picker {
  .search {
    position: relative;
    input {
      border-radius: $space;
      padding-left: 1.5*$space/2;
      padding-right: 1.5*$space/2 + $space;
      width: 100%;
    }
  }
  .results {
    margin-top: $space/2;
    ul {
      list-style: none;
      margin: 0;
      li {
        border-bottom: 1px solid $line-3;
        margin: 0;
        &:first-child {
          border-top: 1px solid $line-3;
        }
        a {
          color: inherit;
          display: block;
          padding: $space/2 1.5*$space/2;
          &:hover {
            background: $light;
            text-decoration: none;
          }
        }
      }
    }
    .meta {
      color: $grey;
      @include font-size($small);
      line-height: 160%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      svg {
        fill: $grey;
        height: $space/2;
        vertical-align: text-bottom;
        width: $space/2;
      }
    }
  }
  &.searching {
    .search {
      position: relative;
      &:after {
        @include spinner();
        content: '';
        display: block;
        position: absolute;
        right: $space/3;
        top: $space/4 - 1;
      }
    }
    .results {
      opacity: 0.6;
    }
  }
}

.route-home {
  .container {
    text-align: center;
  }
  .picker {
    margin: 6*$space auto 0;
    max-width: 20*$space;
    text-align: left;
  }
}

/**
 * History component
 */

.history {
  .modal {
    .body {
      a {
        border-radius: $radius;
        color: inherit;
        display: block;
        padding: $space/4 $space/2;
        .avatar,
        .avatar img {
          border-radius: $radius;
          height: 1.5*$space;
          width: 1.5*$space;
        }
        .avatar {
          float: left;
          margin: $space/6 $space/4 0 0;
        }
        strong,
        small {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &:hover {
          background: $light;
          text-decoration: none;
        }
      }
    }
  }
}

/**
 * File picker component
 */

.file-picker {
  .input {
    position: relative;
    .thumbnail {
      border-radius: $radius 0 0 $radius;
      height: 39px;
      left: 0;
      position: absolute;
      top: 0;
      width: 39px;
      & + input[readonly=readonly] {
        padding-left: 39 + $space/2;
      }
    }
    input[readonly=readonly] {
      padding-right: 103 + $space/2;
    }
    .button {
      border-radius: 0 $radius $radius 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .modal {
    .breadcrumb {
      border-bottom: 1px solid $line-3;
      color: $grey;
      margin-bottom: $space/4;
      padding-bottom: $space/2;
      a {
        color: $black;
        transition-property: color;
        transition-duration: $ease;
        svg {
          height: 1.5*$space/2;
          fill: $black;
          transition-property: fill;
          transition-duration: $ease;
          vertical-align: text-bottom;
          width: 1.5*$space/2;
        }
        &:hover {
          color: $blue;
          text-decoration: none;
          svg {
            fill: $blue;
          }
        }
      }
    }
    ul {
      @include grid(6);
    }
    li {
      cursor: pointer;
      padding: $space/2;
      .thumbnail {
        height: 0;
        overflow: hidden;
        padding-top: 100%;
        position: relative;
        transition-property: border;
        transition-duration: $ease;
        width: 100%;
        svg {
          fill: rgba($blue, 0.6);
          height: 80%;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 80%;
        }
      }
      .name {
        color: $grey;
        @include font-size($small);
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        transition-property: color;
        transition-duration: $ease;
        white-space: nowrap;
      }
      .directory {
        .thumbnail {
          border: 0;
        }
      }
      &:hover {
        .thumbnail {
          background-color: $light;
        }
        &.image {
          .thumbnail {
            border-color: $blue;
          }
        }
        .name {
          color: $black;
        }
      }
      &.active {
        .thumbnail {
          border-color: $blue;
          box-shadow: 0 0 0 4px rgba($blue, 0.2);
        }
      }
    }
  }
}
