@mixin dropdown($hover: false) {
  display: inline-block;
  position: relative;
  .options {
    display: block;
    position: absolute;
    top: 100%;
    visibility: hidden;
    z-index: 999;
    > a {
      display: block;
      float: none;
      white-space: nowrap;
      width: auto;
    }
  }
  &.active .options {
    visibility: visible;
  }
  @if $hover == true {
    &:hover .options,
    .options:hover {
      visibility: visible;
    }
  }
}
