@mixin font-face($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src:url($path + '.eot');
    src:url($path + '.eot?#iefix') format('embedded-opentype'),
      url($path + '.woff') format('woff'),
      url($path + '.ttf') format('truetype'),
      url($path + '.svg#Icons') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}
