/**
 * General
 */

html,
body,
#app,
#main,
#content {
  height: 100%;
  width: 100%;
}

.button {
 svg {
   float: left;
   margin: 0 $space/4 0 (-$space/4);
 }
 &.primary {
   svg {
     fill: #FFF;
   }
 }
}

/**
 * Utils
 */

// Breadcrumb for files list and file picker

.breadcrumb {
  color: $grey;
  svg {
    fill: $grey;
    height: 1.5*$space/2;
    width: 1.5*$space/2;
    vertical-align: text-bottom;
  }
  a {
    color: $black;
    transition-property: color;
    transition-duration: $ease;
    svg {
      fill: $black;
      transition-property: fill;
      transition-duration: $ease;
    }
    &:hover {
      color: $blue;
      text-decoration: none;
      svg {
        fill: $blue;
      }
    }
  }
}


.thumbnail {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $radius;
  border: 1px solid $line;
  box-sizing: border-box;
}

.empty {
  background: $light;
  border-radius: $radius;
  color: $grey;
  @include font-size($smaller);
  line-height: 160%;
  padding: $space/2 1.5*$space/2;
  strong {
    display: block;
  }
}

.centered {
  text-align: center;
}

.notification {
  border: 0;
  box-shadow: $shadow;
  text-align: center;
}

.list {
  list-style: none;
  margin: 0;
  li {
    border-bottom: 1px solid $line-3;
    margin: 0;
    &:first-child {
      border-top: 1px solid $line-3;
    }
    a {
      color: inherit;
      display: block;
      padding: $space/2 1.5*$space/2;
      &:hover {
        background: $light;
        text-decoration: none;
      }
    }
  }
}

/**
 * Navigation (Repo component)
 */

#navigation {
  background: rgba($black, 0);
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition-property: opacity, visibility;
  transition-duration: $ease/2;
  visibility: hidden;
  z-index: 9999;
  &.active {
    background: rgba($black, 0.3);
    opacity: 1;
    visibility: visible;
    .box {
      transform: translateX(0);
    }
  }
  .box {
    background: #FFF;
    border-right: 1px solid $grey-2;
    bottom: 0;
    box-shadow: $shadow-2;
    box-sizing: border-box;
    left: 0;
    max-width: 12*$space;
    padding: $space/2 1.5*$space/2;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: $ease;
    width: 90%;
    z-index: 999;
    & + #editor {
      margin-left: 2*$space;
      .header {
        left: 2*$space;
      }
    }
    a {
      color: $black;
      &:hover,
      &.router-link-active {
        color: $blue;
        text-decoration: none;
      }
    }
    hr {
      border: 0;
      border-bottom: 1px solid $line-3;
    }
    .avatar {
      border-radius: $radius;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
      display: inline-block;
      margin-right: $space/6;
      transition-property: opacity;
      transition-duration: $ease;
      vertical-align: text-bottom;
      width: 1.5*$space/2;
    }
    .label {
      color: $grey-2;
      @include font-size($pico);
      margin-bottom: $space/4;
    }
    .header {
      @include clearfix;
      margin-bottom: 1.5*$space;
      svg {
        display: block;
      }
      .logo {
        float: left;
        svg {
          height: $space;
          width: $space;
        }
      }
      .close {
        float: right;
      }
    }
    .body {
      .controls,
      .repo,
      .branch {
        @include clearfix;
      }
      .controls {
        margin-bottom: $space;
      }
      .repo,
      .branch {
        margin-bottom: $space/4;
      }
      .repo {
        .username {
          margin-right: $space/6;
        }
        img {
          margin-right: 0;
        }
      }
      .branch {
        .select,
        .select select {
          width: 100%;
        }
        .select select {
          border-color: $line-3;
          padding: $space/6 $space/3;
        }
      }
      .links {
        border-top: 1px solid $line-3;
        margin-top: $space/2;
        padding-top: $space/4;
        a {
          display: block;
          padding: $space/4 0;
          svg {
            display: block;
            display: inline-block;
            fill: $grey;
            margin-right: $space/6;
            transition-property: transform;
            transition-duration: $ease;
            vertical-align: text-bottom;
            width: 1.5*$space/2;
          }
          &:hover,
          &.router-link-active {
            svg {
              fill: $blue;
            }
          }
        }
      }
    }
    .footer {
      bottom: 0;
      box-sizing: border-box;
      left: 0;
      padding: $space/2 1.5*$space/2;
      position: absolute;
      width: 100%;
      .user {
        .logout {
          float: right;
          svg {
            display: block;
          }
          &:hover {
            svg {
              fill: $blue;
            }
          }
        }
      }
    }
  }
}

/**
 * Content
 */

#content {
  height: 100%;
  > .header {
    background: #FFF;
    border-bottom: 1px solid $line-2;
    left: 0;
    margin: 0;
    padding: $space/3 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    .icon {
      border: 1px solid transparent;
      margin-top: $space/12;
      padding: $space/4;
      &.menu {
        float: left;
        margin-right: $space/6;
      }
    }
    .controls {
      float: right;
      .more {
        .icon {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .dropdown {
        display: inline-block;
        .options {
          right: 0;
          img {
            border-radius: $radius;
            float: left;
            height: 5*$space/6;
            margin-right: $space/4;
            width: 5*$space/6;
          }
          .modal {
            @include font-size($regular);
            color: $black;
            white-space: normal;
          }
        }
      }
      .new {
        margin-left: $space/4;
      }
    }
    .meta {
      float: left;
      line-height: 120%;
      .file-name {
        a {
          color: $black;
          &:hover {
            color: $blue;
            text-decoration: none;
          }
        }
        .modal {
          line-height: 160%;
        }
      }
      .type {
        background: $line-2;
        border-radius: $radius - 1;
        color: $grey;
        @include font-size($pico);
        padding: $space/12 $space/6;
        text-transform: uppercase;
      }
      small {
        color: $grey;
        a {
          color: inherit;
          &:hover {
            color: $blue;
            text-decoration: none;
          }
        }
      }
    }
  }
  > .body {
    margin: 0 auto;
    padding-bottom: $space;
    padding-top: 56 + $space;
  }
}

// Editor component

#content.editor {
  > .body {
    .field {
      .file-picker + .file-picker,
      input + input,
      textarea + textarea,
      .select + .select {
        margin-top: $space/3;
      }
      .button.add {
        margin-top: $space/3;
      }
      .file-picker {
        position: relative;
      }
      .clear {
        position: absolute;
        top: 50%;
        right: 115px;
        transform: translate(0, -50%);
        cursor: pointer;
      }
    }
  }
}

// Files component

#content.files {
  .breadcrumb {
    padding: $space/2 1.5*$space/2;
  }
  li {
    svg {
      fill: $grey;
      height: 1.5*$space/2;
      vertical-align: text-bottom;
      width: 1.5*$space/2;
    }
  }
}

/**
 * Login component
 */

.route-login {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  .login {
    background: #FFF;
    border: 1px solid $line-2;
    border-radius: $radius;
    left: 50%;
    max-width: 10*$space;
    padding: $space;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    a.logo {
      background: #FFF;
      border: 1px solid $line-2;
      border-radius: 50%;
      box-sizing: border-box;
      display: block;
      height: 2.5*$space;
      margin: (-7*$space/3) auto $space/2;
      padding: $space/2;
      width: 2.5*$space;
      svg {
        display: block;
        height: 1.5*$space;
        width: 1.5*$space;
      }
    }
    p {
      color: $grey;
      @include font-size($smaller);
      line-height: 160%;
      margin-bottom: $space/2;
      text-align: left;
    }
    .button {
      width: 100%;
    }
  }
}

.picker {
  .search {
    position: relative;
    input {
      border-radius: $space;
      padding-left: 1.5*$space/2;
      padding-right: 1.5*$space/2 + $space;
      width: 100%;
    }
  }
  .results {
    margin-top: $space/2;
    .meta {
      color: $grey;
      @include font-size($small);
      line-height: 160%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      svg {
        fill: $grey;
        height: $space/2;
        vertical-align: text-bottom;
        width: $space/2;
      }
    }
    li {
      a > svg {
        fill: $black;
        float: left;
        height: 1.5*$space;
        margin: $space/6 $space/4 0 0;
        width: 1.5*$space;
      }
    }
  }
  &.searching {
    .search {
      position: relative;
      &:after {
        @include spinner();
        content: '';
        display: block;
        position: absolute;
        right: $space/3;
        top: $space/3;
      }
    }
    .results {
      opacity: 0.6;
    }
  }
}

.route-home {
  .container {
    text-align: center;
  }
  .picker {
    margin: 6*$space auto 0;
    max-width: 20*$space;
    text-align: left;
  }
}

/**
 * History component
 */

.history {
  .modal {
    .body {
      a {
        color: inherit;
        display: block;
        margin-bottom: $space/3;
        &:last-child {
          margin-bottom: 0;
        }
        .avatar,
        .avatar img {
          border-radius: $radius;
          height: 1.5*$space;
          width: 1.5*$space;
        }
        .avatar {
          float: left;
          margin: $space/6 $space/3 0 0;
        }
        strong,
        small {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &:hover {
          text-decoration: none;
          strong {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/**
 * File picker component
 */

.file-picker {
  .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    .thumbnail {
      border-radius: $radius 0 0 $radius;
      & + input[readonly=readonly] {
        padding-left: 39 + $space/2;
      }
    }
    input {
      border-radius: $radius 0 0 $radius;
      border-right: 0;
      width: 100%;
    }
    .button {
      border-radius: 0 $radius $radius 0;
      white-space: nowrap;
    }
  }
  .modal {
    .breadcrumb {
      border-bottom: 1px solid $line-3;
      margin-bottom: $space/4;
      padding-bottom: $space/2;
    }
    ul {
      @include breakpoint(mobile) {
        @include grid(2);
      }
      @include breakpoint(only_tablet) {
        @include grid(4);
      }
      @include breakpoint(desktop) {
        @include grid(6);
      }
    }
    li {
      cursor: pointer;
      padding: $space/2;
      .thumbnail {
        height: 0;
        overflow: hidden;
        padding-top: 100%;
        position: relative;
        transition-property: border;
        transition-duration: $ease;
        width: 100%;
        svg {
          fill: rgba($blue, 0.6);
          height: 60%;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 60%;
        }
      }
      .name {
        color: $grey;
        @include font-size($small);
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        transition-property: color;
        transition-duration: $ease;
        white-space: nowrap;
      }
      .directory {
        .thumbnail {
          border: 0;
        }
      }
      .file {
        .thumbnail {
          border: transparent;
          svg {
            fill: rgba($blue, 0.2);
          }
        }
        &.image {
          .thumbnail {
            border: 1px solid $line;
          }
        }
      }
      &:hover {
        .thumbnail {
          background-color: $light;
        }
        &.image {
          .thumbnail {
            border-color: $blue;
          }
        }
        .name {
          color: $black;
        }
      }
      &.active {
        .thumbnail {
          border-color: $blue;
          box-shadow: 0 0 0 4px rgba($blue, 0.2);
        }
      }
    }
  }
}

/**
 * Language selector
 */
.language {
  .translations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    .button {
      margin-left: $space/4;
      white-space: nowrap;
    }
    .modal {
      table {
        .controls {
          text-align: right;
        }
      }
    }
  }
}
