.v-select {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  .dropdown-toggle {
    border: 1px solid $line;
    border-radius: $radius;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
  }
  input[type=search],
  input[type=search]:focus {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: auto;
    line-height: inherit;
    padding: $space/4 $space/2;
  }
  .selected-tag {
    background: $light;
    border: 1px solid $line-2;
    border-radius: $radius;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: auto;
    line-height: inherit;
    margin: $space/6 0 0 $space/4;
    padding: 1px $space/6;
    vertical-align: sub;
    .close {
      color: $line-2;
      font-weight: 300;
      opacity: 1;
      transition-property: color;
      transition-duration: $ease;
      &:hover {
        color: $black;
      }
    }
  }
}
