@if index($partials, base) {
  html {
    @include breakpoint(mobile) {
      font-size: 57%;
    }
    @include breakpoint(tablet) {
      font-size: 59%;
    }
    @include breakpoint(desktop) {
      font-size: 62.5%;
    }
  }

  body {
    background: $background;
    color: $black;
    font-family: $body;
    @include font-size($regular);
    font-size: $regular + px; // Because of Chrome bug (see https://code.google.com/p/chromium/issues/detail?id=319623)
    font-weight: normal;
    line-height: 160%;
  }

  a {
    cursor: pointer;
    color: $blue;
    text-decoration: none;
    &:hover {
      color: shade($blue, 10%);
      text-decoration: underline;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black;
    font-family: $headline;
    font-weight: bold;
    line-height: 120%;
    margin: 0 0 $space;
  }

  h1 {
    @include font-size($gigantic);
  }

  h2 {
    @include font-size($huge);
  }

  h3,
  h4,
  h5,
  h6 {
    @include font-size($larger);
  }

  p,
  pre {
    margin: 0 0 $space;
  }

  ul,
  ol {
    margin: 0 0 $space $space;
    padding: 0;
    li {
      margin: 0 0 $space/4;
      padding: 0;
    }
    ul,
    ol {
      margin-bottom: 0;
      li {
        margin: $space/4 0 0;
      }
    }
  }

  small {
    @include font-size($small);
  }

  blockquote {
    border-left: $space/4 solid $light;
    color: tint($black, 40%);
    margin: 0 $space $space;
    padding-left: $space;
    > *:last-child {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;
  }

  /* Code */

  code,
  .code {
    background: $light;
    border: 1px solid $line;
    border-radius: $radius;
    display: inline-block;
    font-family: $code;
    @include font-size($smaller);
    line-height: 140%;
    padding: 0 $space/4;
  }

  pre {
    code,
    .code {
      display: block;
      padding: $space/4 $space/2;
      white-space: pre-wrap;
    }
  }

  /* Tables */

  table {
    border: 1px solid $line;
    margin: 0 0 $space;
    text-align: left;
    th,
    td {
      border-right: 1px solid $light;
      padding: $space/4 $space/2;
      &:last-child {
        border-right: 0;
      }
    }
    td {
      padding: $space/2 $space/2;
    }
    thead {
      background: $light;
      color: tint($black, 20%);
      @include font-size($small);
      th {
        font-weight: normal;
        white-space: nowrap;
      }
    }
    tbody {
      tr {
        border-top: 1px solid $line;
        transition-property: border;
        transition-duration: $ease;
      }
    }
  }
}
