@if index($partials, dropdown) {
  .dropdown {
    position: relative;
    > *:first-child {
      cursor: pointer;
    }
    .options {
      background: #FFF;
      border: 1px solid $line-2;
      border-radius: $radius;
      box-shadow: $shadow-1;
      box-sizing: border-box;
      display: block;
      margin-top: -$space/2;
      opacity: 0;
      position: absolute;
      top: 100%;
      transition-property: opacity, margin;
      transition-duration: $ease;
      visibility: hidden;
      z-index: 999;
    }
    > *.active:first-child + .options,
    &.active .options,
    .options:hover,
    &.hover:hover .options {
      opacity: 1;
      margin-top: 0;
      visibility: visible;
    }

    &.menu {
      .options {
        padding: $space/6 0;
        .option {
          background: rgba($light, 0);
          display: block;
          color: inherit;
          cursor: pointer;
          @include font-size($smaller);
          line-height: 160%;
          padding: $space/8 $space/2;
          margin: $space/6 0;
          transition-property: background;
          transition-duration: $ease;
          white-space: nowrap;
          &:hover {
            background: $light;
            text-decoration: none;
          }
          &.danger:hover {
            color: $red;
          }
          a,
          a:hover {
            color: inherit;
            display: block;
            font-size: inherit;
            line-height: inherit;
            text-decoration: inherit;
          }
        }
        > hr {
          border: 0;
          border-top: 1px solid $line-2;
          margin: $space/6 0;
        }
      }
    }
  }
}
