@if index($partials, form) {
  .field {
    margin-bottom: 1.5*$space/2;
    .description {
      color: $grey;
      display: block;
      margin-top: $space/4;
    }
    &.full-width {
      input,
      .select,
      .select select,
      textarea {
        width: 100%;
      }
    }
  }

  fieldset {
    border: 1px solid $line;
    border-radius: $radius;
    margin: 0 0 $space/2;
    padding: $space/2 $space/2 0;
    position: relative;
  }

  label,
  .label {
    @include font-size($small);
    font-weight: 500;
    text-transform: uppercase;
    display: block;
  }

  input,
  textarea,
  select {
    box-shadow: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  input,
  textarea,
  .select select {
    background: $background;
    border: 1px solid $line;
    border-radius: $radius;
    box-sizing: border-box;
    display: inline-block;
    padding: $space/4 $space/2;
    transition-property: border;
    transition-duration: $ease;
    &.small {
      padding: $space/8 $space/4;
    }
    &:hover {
      border-color: shade($line, 20%);
    }
    &:active,
    &:focus {
      border-color: $blue;
      box-shadow: 0 0 0 2px rgba($blue, 0.2);
      outline: none;
    }
    &[disabled],
    &[disabled=disabled],
    &[disabled=true],
    &[disabled],
    &[readonly=true],
    &[readonly=readonly],
    &[readonly] {
      background: $light;
      border-color: $line-2;
      color: $grey;
      &:active,
      &:focus,
      &:hover {
        border-color: $line-2;
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }

  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    & > select {
      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
      padding-right: 1.5*$space;
    }
    &:after {
      bottom: 0;
      content: '▾';
      cursor: pointer;
      @include font-size($smaller);
      line-height: 120%;
      pointer-events: none;
      position: absolute;
      right: $space/2;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .actions {
    margin-top: $space;
    > * {
      margin-right: $space/4;
    }
  }
}
