.loading {
  &:before {
    background: rgba(#FFF, 0.6);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
  }
  position: relative;
  &:after {
    @include spinner();
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }
}
