@if index($partials, menu) {
  .menu {
    @include dropdown(true);
    > *:first-child {
      cursor: pointer;
    }
    .options {
      background: #FFF;
      border-radius: $radius;
      box-shadow: $hover;
      box-sizing: border-box;
      min-width: 100%;
      opacity: 0;
      transform: scale(0.9);
      transition-property: opacity, transform;
      transition-duration: $ease;
      a {
        display: block;
        color: inherit;
        @include font-size($smaller);
        padding: $space/12 $space/2;
        margin: $space/6 0;
        white-space: nowrap;
        &:hover {
          background: $primary;
          color: #FFF;
          text-decoration: none;
        }
      }
      hr {
        border: 0;
        border-top: 1px solid $line;
        margin: $space/6 0;
      }
    }
    &:hover .options,
    &.active .options,
    .options:hover {
      opacity: 1;
      transform: scale(1);
    }
  }
}
